/*@media screen and (max-width: 1000px) {
  #re {
    left: 500px;
  }
}
@media screen and (min-width: 1000px)   {
  #re {
    background: yellowgreen;
  }
}*/
/*#content2{
     -webkit-animation-duration: 2s;
     visibility: visible;
     display: none;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  }*/
  #titone ul{
    list-style-type: none;
    margin: 0;
    padding-left: 2%;
    overflow: hidden;
    background-color: #333;

    width: 100%;
    height: 40px;

  }
  
 #titone li{
  float: left;
  margin-right: -20px;
 }
 #titone li:nth-child(16){

 margin-left: 51%;
 }
#titone li a {
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 12px 16px;
    text-decoration: none;
    font-size: 6px;
    color: #A0A0A0;
}
.t-right{
  text-align: right;
}
#mi2{
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;

}
#mi3{
  padding-left: 30px;
  padding-right: 30px;
}
#mi6{
  padding: 30px;
}
body{
  margin:0;
  padding:0;
  min-width: 1181px;
}
#mi7{
width: 70%;
/*float: left;*/
padding-left: 30px;
min-width: 816px;

}

#mi7-2 {

  position: absolute;
  margin-left: 40px;
  right: 0;
  display: block;

}
#mi7-2 h3{
  padding-bottom: 5px;
  font-size: 22px;
  font-family: "微软雅黑";
  font-weight: normal;
}
#mi7-2 h4{
  color: #5B5B5B;
  padding-bottom: 5px;

}
#mi7-2 h5{
  color: #8E8E8E;
  padding-bottom: 2px;
  line-height: 1.6em;
  padding-right: 60px;
}


#mi8-2{
  word-break:break-all;
  background-color: #00E3E3;

}
#mi9{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
#zong{

position: relative;

}
#re{
  top: 30%;
  position: absolute;
  width: 30%;
  min-width: 349px;
  height: 50%;
  display: block;
  right: 0px;
}
#m-1{
  width: 1240px;
  height: 200px;
  position: absolute;
  left: 85px;
}
#m-1-1{
  position: absolute;
  top:15%;
}
#m-1-1 h1{
  font-size: 42px;
  font-family: "微软雅黑";
  color: #000;
  margin-bottom: 28px;
}
#m-1-1 h5{
  font-size: 16px;
  line-height: 30px;
  font-family: "微软雅黑";
  color: #6C6C6C;
  letter-spacing: 5px;
}
#m-1-2{
  position: absolute;
  top: 150%;
}
#m-1-2 span{
  font-size: 60px;
  color: #7e6b31;
}
#m-1-2 h1{
  font-size: 20px;
  color: #7e6b31;
  /*font-family: "微软雅黑";*/
}
#m-1-2 h4{
  font-size: 20px;
  color: #7e6b31;
    font-family: "微软雅黑";
}
#m-1-3 img{
  position: absolute;
  top: 258%;
}
#m-1-3 h1{
  line-height: 24px;
  top: 250%;
  margin-left: 100px;
  position: absolute;
  font-size: 12px;
  color: rgba(126,107,49,0.7);
  font-family: "微软雅黑";
}
#mi1jpg{
  min-width: 1226px;
}
#m3{
  width: 50%;
  left: 700px;
  height: 100%;
  position: absolute;
  min-width: 570px;
  display: block;

}
#m3-1{
  width: 70%;
  height: 200px;
  min-width: 570px;
  top: 6%;
 position: absolute;
}
#m3-1 h1{
    color: #996e47;
    font-size: 20px;
    font-family: "微软雅黑";
    margin-top: 0;
}
#mi3jpg{
    min-width: 1166px;
}
#m3-1 h2{
  color: rgba(153,110,71,0.8);
  font-size: 16px;
  font-family: "微软雅黑";
  margin-top: 0;
}
#m3-1 h4{
  color: rgba(153,110,71,0.6);
  font-size: 14px;
  font-family: "微软雅黑";
  margin-top: 0;
  line-height: 22px;
}
#m4{

  position: absolute;
  width: 70%;
  display: block;
  height: 100%;
  left: 182px;
}
#m4-1{
top: 10%;
width: 520px;
}
#m4 h1{
  color: #996e47;
  font-size: 20px;
  font-family: "微软雅黑";
  margin-top: 0;
  margin:0 auto;
}
#m4 h2{
  color: rgba(153,110,71,0.8);
  font-size: 16px;
  font-family: "微软雅黑";
  margin-top: 0;
  margin-bottom: 0;
}
#m4 h3{
  color: rgba(153,110,71,0.6);
  font-size: 14px;
  font-family: "微软雅黑";
  margin-top: 0;
  line-height: 22px;
}
#m5{
  width: 40%;
  left: 750px;
  height: 100%;
  position: absolute;
  min-width: 570px;
  display: block;

}
#m5-1{
  width: 70%;
  /*height: 200px;*/
  min-width: 570px;
  top: 18%;
 position: absolute;
 margin-bottom: 0;
}
#m5-1 h1{
    color: #996e47;
    font-size: 20px;
    font-family: "微软雅黑";
    margin-top: 0;
    margin-bottom: 0;
}
#m5-1 h2{
  color: rgba(153,110,71,0.8);
  font-size: 16px;
  font-family: "微软雅黑";
  margin-top: 0;
  margin-bottom: 0;
}
#m5-1 h4{
  color: rgba(153,110,71,0.6);
  font-size: 14px;
  font-family: "微软雅黑";
  margin-top: 0;
  line-height: 22px;
  margin-bottom: 0;
}
#m8{
  position: absolute;
  width: 40%;
  height: 100%;
  left: 750px;

}
#m8-1{
  position: absolute;
  width: 60%;
  top: 50%;
  min-width: 352px;
}
#m8-1 h1{
  color: rgba(0,0,0,0.8);
  font-size: 20px;
  font-family: "微软雅黑";
  margin-top:0;

}
#m8-1 h2{
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  line-height: 22px;
  margin:0;
  font-family: "微软雅黑";
}
#Sbei .middle{
  text-align: center;
  height: 500px;
  float: left;
}
#Sbei .left{
  text-align: center;
  height: 500px;
  float: left;
}

  .middle{
    /*height: 100%;*/
    width: 100%;
    /*height: 100%;*/
    /*height: 200px;*/
    background-color: #333;

    
  }
  .left{
    margin-left: -100%;
    position: relative;
    width: 378px;
    color: #fff;

    /*min-width: 30%;*/
    /*height: 100%;*/
    background-color: #333;
    /*z-index: 2;*/
    left: -378px;
    z-index: 999;

  }
  #Sbei{
    padding-right: 30px;
    padding-left: 408px;
    left: 30px;
    /*height: 200px;*/
    width: 100%;
    overflow:hidden;
    min-width: 1259px;
  }
  #img{
    width: 100%;
    /*min-width: 837px;*/
    overflow: hidden;
  }
  .min-w{
    min-width: 1260px;
  }
  .left div{
    width: 80%;
    padding:30% 10% 0 10%;

  }
  .left div h1{
    font-size: 22px;
    text-align: left;
  }
   .left div h2{
    font-size: 16px;
    font-family: "微软雅黑";
    color:rgba(255,255,255,0.8);
    text-align: left;
   }
   .left div h3{
    font-size: 12px;
    line-height: 25px;
     text-align: left;
     color: rgba(255,255,255,0.6);
   }


















#miz{
width: 50%;
/*float: left;*/
padding-left: 30px;
min-width: 642px;


}
#miz img{
  height: 100%;
  width: 100%;
  /*display: block;*/
  /*right: 0px;*/
  margin-left: 104.6%;
}
#mi7-z {

  position: absolute;
  margin-left: 40px;
  right: 0;
  display: block;

}
#mi7-z h3{
  padding-bottom: 5px;
  font-size: 22px;
  font-family: "微软雅黑";
  font-weight: normal;
}
#mi7-z h4{
  color: #5B5B5B;
  padding-bottom: 5px;

}
#mi7-z h5{
  color: #8E8E8E;
  padding-bottom: 2px;
  line-height: 1.6em;
  padding-right: 60px;
}


#zong2{
height: 619px;
position: relative;
background-color: #07a8b1;
margin :0 30px 0 30px;
/*padding-left: 800px;*/
min-width: 1282px;

}
#re2{
  top: 30%;
  position: absolute;
  width: 50%;
  min-width: 349px;
  height: 100%;
  display: block;
  padding-left: 30px;
  
}